// Font family
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap');
$font-primary: Montserrat;

// Colors
$primary: #FF5000;
$secondary: #797979;
$terciary: #909090;
