.product-list {
    height: 100%;
    width: calc(100% - 4rem);
    padding: 0 2rem;

    display: flex;
    justify-content: center;

    &-container {
        height: 100%;
        width: 100%;
        margin: 0 9rem;

        display: grid;
        grid-template-columns: repeat(2, calc(50% - 1rem));
        gap: 2rem;

        .block {
            display: inline-block;
            height: 50%;
        }
    }

}

@media screen and (max-width: 1056px) {
    .product-list {
        min-width: calc(353px - 4rem);
        overflow-x: auto;

        &-container {
            margin: 0;
            display: flex;
            flex-direction: column;
        }
    }
}