.card-product {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__text {
        margin-left: 0.3rem;

        >h3 {
            color: $primary;
            font-size: 1.5em;
        }

        >p {
            color: $terciary;
            font-size: 1.2rem;
        }
    }
    
    &__description {
        margin-left: 0.3rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        &-features {
            display: flex;
            flex-direction: row;
            align-items: center;

            &-feature {
                .img {
                    height: 40px;
                    width: 40px;
                }

                >p {
                    margin-top: -5px;
                    text-align: center;
                    font-size: 12px;
                    color: $secondary;
                }
            }
        }

        &-price {
            font-size: 2rem;
            color: $secondary;
            font-weight: bold;

            p {
                line-height: calc(100% - 5px);
            }
        }

        &-button {

            .button {
                @extend %button-primary;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .card-product {
        
        &__text {
    
            >h3 {
                font-size: 1.2em;
            }
    
            >p {
                font-size: 0.9em;
            }
        }
        
        &__description {
            gap: 0.8rem;
    
            &-features {
                
                &-feature {
                    .img {
                        height: 24px;
                        width: 24px;
                    }
                    >p {
                        margin-top: -4px;
                        font-size: 0.4em;
                        font-weight: bold;
                    }
                }
            }
    
            &-price {
                height: 100%;
                font-size: 1.1em;
    
                display: flex;
                align-items: center;
                justify-content: flex-end;

                p {
                    line-height: 100%;
                }
            }
    
            &-button {
                display: flex;
                align-items: center;
                justify-content: center;
    
                .button {
                    width: 95px;
                    height: 25px;
                    font-size: 0.8em;
                    border: none;
                    border: .5px solid $primary;
                }
            }
        }
    }
}